$text-color: #e5e5e5;
$arrows-color: #b3dc59;

.header {
    height: 2.5rem;
    width: auto;
    background-color: $text-color;
    border-bottom: 2px solid #c6c7c8;
}

.slides-container {
    margin: 0;
    width: 100%;
}

.slides-fade {
    width: 38rem;
    margin: 0 auto;
    position: relative;
}

.img {
    width: auto;
    height: 28rem;
}

.text {
    color: $arrows-color;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
    left: 50%;
}

.buttons {
    margin-top: 0 1rem;
    text-align: center;
}

.prev,
.next {
    display: inline;
    cursor: pointer;
}

.hide {
    display: none;
}